@page "/StaffPage/{UserId:int}"

@if (UserDetails == null)
{
    <p>Loading staff details...</p>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium" Class="my-5">
        <MudCard Class="my-5">
            <MudCardContent>
                    <StaffImage UserDetails="@UserDetails" />
                    <StaffData UserDetails ="@UserDetails"/>
            </MudCardContent>
        </MudCard>
    </MudContainer>
}

@code {
    [Parameter]
    public int UserId { get; set; } 
  
    public User UserDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            UserDetails = userService.GetUserById(UserId);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading user: {ex.Message}");
        }
    }
}
