@inherits LayoutComponentBase
@namespace HospitalSystemTeamTask.Shared.Layouts

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


<div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background-color: #B4DBDC;">
    <MudContainer MaxWidth="MaxWidth.Medium" Class="shadow-lg rounded-2xl" Style="padding: 20px; background-color: #1B7D84;">
        <div class="w-full max-w-md">
            @Body
        </div>
    </MudContainer>
</div>
